.block2-contenu {

}

strike {
	font-size:22px;
}

.starproduct {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.starproduct-item {
	display: flex;
	flex-direction:row;
	width: 100%;
	height: auto;
	color:#686872;
}


.img-star {
	/*width:55%;*/
/*	moche - border-top: 1px solid #686872 ;*/
	height: 30%;
	height:auto; /* sinon, sans ça : c'est trop grand*/
	padding-right: 35px;
	flex: 0 0 55%;
}

.img-star2 {
/*	width:40%;*/
	height:auto%;
	flex: 0 0 40%;
}


.star-band {
	background-color: white;
	width: 100%;
	color:#EF3340;
	letter-spacing: 1em;
	height: 60px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.promo{
	background-color: #2D2D37;
	color:#F0F0F0;
}


.star-text {
	background:#F0F0F0;
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
}

.txt2 {
	flex: 0 0 55%;
	text-align: right; 
	padding-right: 20px;
}

.star-text h3 {
	font-size: 36px;
}

.star-text strong, a {
	color:#2D2D37;
	text-decoration: none;
}


.old-price {
	color: #686872;
	font-weight: bold;
	font-size: 24px;
	text-decoration: line-through;
}

.new-price {
	color: #EF3340;
	font-weight: bold;
	font-size: 28px;
/*	text-decoration: line-through;*/
}

.ouf {
	color: #EF3340;
}

/*
#color1 {
Navbar : #2D2D37
Hover : #EF3340
Fond : #F0F0F0
Ecriture : #686872
}
*/