.block2-contenu {

}

ul li {
	text-decoration: none;
}

strike {
	font-size:22px;
}

.starproduct {
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.starproduct-item {
	display: flex;
	flex-direction:row;
	width: 100%;
	height: auto;
	color:#686872;
}

.img-star {
	height: 30%;
	height:auto; /* sinon, sans ça : c'est trop grand*/
	padding-right: 35px;
	flex: 0 0 55%;
}

.img-star2 {
	height:auto;
	flex: 0 0 40%;
}


.star-band {
	background-color: white;
	width: 100%;
	color:#EF3340;
	letter-spacing: 1em;
	height: 60px;
	display:flex;
	justify-content: center;
	align-items: center;
}

.promo{
	background-color: #2D2D37;
	color:#F0F0F0;
}


.star-text {
	background:#F0F0F0;
	text-align: left;
	padding-left: 20px;
	font-size: 20px;
}

.txt2 {
	flex: 0 0 55%;
	text-align: right; 
	padding-right: 20px;
}

.star-text h3 {
	font-size: 36px;
}

.star-text strong, a {
	color:#2D2D37;
	text-decoration: none;
}


.old-price {
	color: #686872;
	font-weight: bold;
	font-size: 24px;
	text-decoration: line-through;
}

.new-price {
	color: #EF3340;
	font-weight: bold;
	font-size: 28px;
/*	text-decoration: line-through;*/
}

.ouf {
	color: #EF3340;
}

/*
#couleurs

Navbar : #2D2D37
Hover : #EF3340
Fond : #F0F0F0
Ecriture : #686872
}
*/

.topbar {
	display:none;
}



/* = = = = = = = = = RESPONSIVE = = = = = = = =*/
@media all and (max-width: 720px) {

	/*  cf. essai.css, .container1 : width: 85% >> souci! il reste 15% */
	.container1 {
		width: 100%;
	}

	.block1 {
		display: none;
	}	

	.star-band {
		font-size: 12px;
	}

	.header__logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.header__logo img {
		width: 128px;
		height: auto;
		vertical-align: middle;
		z-index:0;
	}

	.header__icon {	
		position: relative;
		display: block;
		float: right;
		width: 60px;
		height: 60px;
		} 

  	.header__icon:before {
		content:'';
		cursor:pointer;
		position: absolute;
		display: block;
		width: 1.5rem;
		height: 0;
		top:12px;
		right: 15px;
		background-color: blue;
		box-shadow: 0 10px 0 1px white, 
		0 16px 0 1px white, 
		0 22px 0 1px white,
		0 28px 0 1px white;
		}

		.container {
			padding-top: 60px;
		}

		.container2 {
			display: none;
		}


		.topbar {
			display: flex;
			position:fixed;
			left:0;
			right: 0;
			top:0;
			height: 66px;
			line-height: 66px;
	    	background-color: pink;
		}

		.topbar-menu {
			position:absolute;
			left:0px;
			top: 0px;
			z-index: 1;
			background-color: transparent;
			
			width: 60px;
			height: 500px;
			text-indent: -9999px;
			transition: width 1s;
    		-webkit-transition: width 1s; 
		}

		.topbar-menu ul li {
			list-style-type: none;
		}

		.topbar-menu ul li a:hover {
			color:  #EF3340;
		}

		.topbar-menu ul li a{
			color:white;
			font-weight: bold;
		}

		.topbar-menu:hover {
			text-indent: 0px;
			width: 55%;
			height: 100vh;
			background: rgba(12, 12, 12, 0.5);
		}

		.starproduct-item {
			display: flex;
			justify-content: center;
			align-items: center;
		}

		.star-text h3 {
			font-size:24px;
		}
		
		.img-star {
			width: 500px;
			padding-right: 0px;
		}


		.img-star2 {
			padding-left:50px;
		}

		/*   cf. essai.css > width: 85% et ça pose pb en responsive */
		footer {
			width: 100%;
		}
}

