

/*Importation de la police*/

@import url("font.css"); 



body {
	font-family: 'Raleway', sans-serif;
	background-color: #ffffff;
}









/*CODE POURRI A RAJOUTER*/

.mentions span {
	color: #EF3340;
}
.mentions span:hover {
	text-decoration: underline;
	font-weight: bold;
}
.mentions {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin:0 15px;
}














/*HEADER*/

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.container1 {
  width: 85%;
}

.block1 {
  text-align: center;
  padding-bottom: 5px;
  background-color: #F0F0F0;
}

.block1 img {
  padding-top: 15px;
}

.block1 h1 {
  font-size: 18px;
  margin-top: 0px;
  color: #2D2D37;
  padding-bottom: 15px;
}

/*FIN HEADER




/*SOUS HEADER*/

.titre {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin-bottom: 10px;
}
.titre h2 {
	font-weight: lighter;
	color: #EF3340;
}

/*FIN SOUS HEADER*/




/*NAVBAR*/

.container2 {
  width: 15%;
  height: 100vh;
  background-color: #2D2D37;
  display: flex;
  justify-content: center;
  position: fixed;
  font-size: 15px;
  color: white;
}

.blockdroite1 {
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: flex-end;
}

.blockdroite1 ul {
  list-style-type: none;
}

.blockdroite1 ul li {
  margin-top: 20px;
}

.blockdroite1 ul li:hover {
	text-decoration: underline;
	color: #EF3340;
	background-color: #EF3340;
}

.blockdroite1 ul li a {
  text-decoration: none;
  color: white;
}

.recherche {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.search {
	width:100px;
	height:12px;
	background-color: transparent;
	border: 1px solid gray;
	color:white;
	padding: 10px 5px;
	border-radius: 50px;
}

.fa-search {
  font-size: 25px;
  vertical-align: middle;
}

/*FIN NAVBAR*/


/*FOOTER*/

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
  height: 80px;
  background-color: #F0F0F0;
  text-align: center;
}

footer a {
  text-decoration: none;
  color:  #2D2D37;
}

/*FIN FOOTER*/













/*FOMULAIRES*/
section {
display:flex;
justify-content: center;
align-content: center;
color: #686872;
margin-bottom: 10px;
}
span {
color: #EF3340;
}
aside {
display: flex;
flex-direction: column;
justify-content: center;
}
aside p {
margin: 4px 0;
}
input{
background-color: white;
border: 1px solid #cccccc;
width: 250px;
}
textarea {
height: 100px;
width:250px;
}
.large-form input {
height: 100px;
word-wrap: break-word;
hyphens: auto;
}
.centre {
display: flex;
flex-direction: column;
justify-content: space-between;
margin-left: 8%;
}
.description {
margin-top: 40px;
width: 380px;
word-wrap: break-word;
hyphens: auto;
border-top: 1px solid #aaaaaa;
border-bottom: 1px solid #aaaaaa;
font-weight:lighter;
font-style: italic;
}
.contact {
margin-bottom: 40px;
line-height: 8px;
font-size: 14px;		
}
#envoyer {
	margin-top: 4px;
}
.btn {
	background-color:#EF3340;
	border: none;
	padding: 5px;
	border-radius:4px;
	color: #ffffff;
}
/*FIN CONTACT*/








@media all and (max-width:980px){
	.container2 {
		display: none;
	}
	.container1 {
		width: 100%;
	}
	footer {
		width: 100%;
	}
}

@media all and (max-width:720px){
	section {
		flex-direction:column-reverse;
	}
	aside {
		margin: auto;
	}
	.centre {
		margin: auto;
	}
	.description {
		width: auto;
		padding: 0px 15px;
	}
	.contact {
		margin:auto;
		line-height: 15px;
	}
	h2 {
		margin-bottom: 0;
	}
}