section {
	display: inline-flex;
	margin: 50px 0 0 8%;
}

span {
	color: tomato;
}

.formulaire {
	background-color: white;
	border: 1px solid #cccccc;

}

.description {
	margin-top: 40px;
	width: 380px;
	word-break: break-all;
	border-top: 1px solid #aaaaaa;
	border-bottom: 1px solid #aaaaaa;
}

.centre {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-left: 8%;
}

.btn {
	background-color: tomato;
	border: none;
	padding: 5px;
	border-radius:4px;
}

#envoyer {
	margin-top: 3px;
}